<!DOCTYPE html>
<html lang="en">
  
<head>
  
  <meta charset="utf-8">
  <title>RPI Data Distribution per Year - Violin Plot</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <!-- Our CSS -->
  <link rel="stylesheet" href="static/css/style2.css">
  <link rel="stylesheet" href="static/css/d3Style.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>


  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <!-- API key -->
   <!--  <script type="text/javascript" src="static/js/config.js"></script> -->
  <!-- JS -->
  <!-- <script type="text/javascript" src="static/js/logic.js"></script> -->

  <meta charset="utf-8">
  <title>Regional Price Index</title>

</head>


<body>
  
  <div id="violinplot"></div>

  <!-- <select id="selDataset">
    <option value="food">Food</option>
    <option value="clothing">Clothing</option>
    <option value="tobacco_alcohol">Tobacco & Alcohol</option>
    <option value="tobacco_alcohol">Household Equipment & Operation</option>
    <option value="tobacco_alcohol">Health and Personal Care</option>
    <option value="tobacco_alcohol">Housing</option>
    <option value="tobacco_alcohol">transportation</option>
    <option value="tobacco_alcohol">Recreation</option>
    <option value="tobacco_alcohol">All Groups</option>
  </select> -->

  
</body>


  <!-- Footer-->
  <div id="footer">
    <p>The Coding Boot Camp&copy;2021</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- JS -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Bootstrap Script for interactive button  -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="static/js/violin.js"></script>
  
</body>
</html>