/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
  }
  
  /* set map, body, and html to 100% of the screen size */
  #map,
  body,
  html {
    height: 100%;
  }
  
  
h1 {
    text-align: center;
  }

h2 {
    text-align: left
}

h3 {
    text-align: left
}
.leftimage{
  float: left;
  margin-right: 10px;
}
.rightimage{
  margin-bottom: 20px;
}
.titles{
  color: hsl(120, 50%, 96%) !important;
  background-color:  rgb(47, 255, 210) !important;
  padding: 5px;
}
h2{
  color: rgb(47, 255, 210) !important;
}